{% macro print_comments_recursively(parent, children, commentId, flags, commentForms, user) %}
    <article class="comment row {% if commentId is odd %}odd-comment{% else %}even-comment{% endif %}">
        <header class="row">
            <div class="col-xs-12 col-sm-5">
                <h4>{{ parent.author.username}}</h4>
            </div>
            <div class="col-xs-12 col-sm-7">
                <h4 class="pubDate">
                    <time datetime="{{ parent.date }}" pubdate="pubdate">{{ parent.date|date("d/m/Y \à H\\hi") }}</time>
                    {% if parent.lastModif != "0000-00-00 00:00:00" %}
                         - modifié le <time datetime="{{ parent.lastModif }}" pubdate="pubdate">{{ parent.lastModif|date("d/m/Y \à H\\hi") }}</time>
                    {% endif %}
                </h4>
            </div>
        </header>
        <hr class="marginTopless" />

        <div class="row">
            <p>{{ parent.content }}</p>
        </div>

        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <footer class="row">
                <hr class="marginTopless marginBottomless" />
                <p class="pull-right">
                    {% if user.id != parent.author.id %}
                        {% if parent.id in flags|keys %}
                            <button type="button" class="btn btn-warning disabled" title="Commentaire déjà signalé">
                                Déjà signalé
                            </button>
                        {% else %}
                            <button type="button" class="btn btn-default" title="Signaler le commentaire" data-toggle="modal" data-target="#flagDialog{{ parent.id }}" id="flagButton{{ parent.id }}">
                                Signaler
                            </button>
                        {% endif %}
                    {% endif %}
                    {% if parent.level >= 0 and parent.level < 3 %}
                        <button type="button" class="btn btn-primary respondButtons" title="Répondre au commentaire" id="respond-{{ parent.id }}">
                            Répondre
                        </button>
                    {% endif %}
                    <div class="modal fade" id="flagDialog{{ parent.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                        &times;
                                    </button>
                                    <h4 class="modal-title" id="myModalLabel">
                                        Confirmation
                                    </h4>
                                </div>
                                <div class="modal-body">
                                    <p>
                                        Êtes-vous certain de vouloir signaler ce commentaire ?
                                    </p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">
                                        Annuler
                                    </button>
                                    <a href="#" class="btn btn-info confirmFlagButton" id="{{ parent.id }}">
                                        Confirmer
                                    </a>
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                    </div><!-- /.modal -->
                </p>

                {% for commentForm in commentForms %}
                    {% if commentForm.vars.name == "commentForm-#{parent.id}" %}
                        <div class="hidden-form col-xs-12">
                            {{ form_start(commentForm) }}
                                <div class="form-group">
                                    {{ form_errors(commentForm.content) }}
                                    {{ form_widget(commentForm.content, { 'attr' : {
                                            'rows' : '4',
                                            'class' : 'form-control',
                                            'placeholder' : 'Entrez votre commentaire'
                                        }})
                                    }}
                                </div>
                                <div class="form-group">
                                    <input type="submit" class="btn btn-primary" value="Publier le commentaire" />
                                </div>
                            {{ form_end(commentForm) }}
                        </div>
                    {% endif %}
                {% endfor %}
            </footer>
        {% endif %}

        {% set commentId = commentId + 1 %}

        {% for child in children %}
            {% if child.parentId == parent.id  %}
                {{ _self.print_comments_recursively(child, children, commentId, flags, commentForms, user) }}
            {% endif %}
        {% endfor %}
    </article>
{% endmacro %}
