{% extends "layout.html.twig" %}
{% import "macros/_macroAdminUsers.html.twig" as macroAdminUsers %}
{% import "macros/_macroAdminComments.html.twig" as macroAdminComments %}
{% import "macros/_macroAdminArticles.html.twig" as macroAdminArticles %}
{% set adminMenu = true %}

{% block title %}
    Administration
{% endblock %}

{% block content %}
    <div id="pageOpening">
        <h2>{{ block('title') }}</h2>
        <hr />

        {% for flashMessage in app.session.flashbag.get('success') %}
            <div class="alert alert-success">
                {{ flashMessage }}
            </div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('error') %}
            <div class="alert alert-danger">
                {{ flashMessage }}
            </div>
        {% endfor %}

        <div class="hidden-xs">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                    <ul class="nav nav-tabs nav-justified">
                        <li class="active"><a href="#articles" data-toggle="tab">Articles</a></li>
                        <li><a href="#comments" data-toggle="tab">Commentaires</a></li>
                        <li><a href="#users" data-toggle="tab">Utilisateurs</a></li>
                    </ul>
                </div>
            </div>
            <div class="tab-content">
                <!-- Articles tab -->
                <div class="tab-pane fade in active adminTable" id="articles">
                    {{ macroAdminArticles.admin_articles_tab(articles) }}
                </div>

                <!-- Comments tab -->
                <div class="tab-pane fade adminTable" id="comments">
                    {{ macroAdminComments.admin_comments_tab(comments, flagCounts) }}
                </div>

                <!-- Users tab -->
                <div class="tab-pane fade adminTable" id="users">
                    {{ macroAdminUsers.admin_users_tab(users) }}
                </div>
            </div>
        </div>

        <div id="tabs" class="panel-group visible-xs-block">
            <div class="panel panel-default">
                <a href="#tab1" data-parent="#tabs" data-toggle="collapse">
                    <div class="panel-heading">
                        <h3 class="panel-title">Articles</h3>
                    </div>
                </a>
                <div id="tab1" class="panel-collapse collapse in">
                    <div class="panel-body">
                        {{ macroAdminArticles.admin_articles_tab(articles) }}
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <a href="#tab2" data-parent="#tabs" data-toggle="collapse">
                    <div class="panel-heading">
                        <h3 class="panel-title">Commentaires</h3>
                    </div>
                </a>
                <div id="tab2" class="panel-collapse collapse">
                    <div class="panel-body">
                        {{ macroAdminComments.admin_comments_tab(comments) }}
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <a href="#tab3" data-parent="#tabs" data-toggle="collapse">
                    <div class="panel-heading">
                        <h3 class="panel-title">Utilisateurs</h3>
                    </div>
                </a>
                <div id="tab3" class="panel-collapse collapse">
                    <div class="panel-body">
                        {{ macroAdminUsers.admin_users_tab(users) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
