{% extends "layout.html.twig" %}
{% import "_macroThreadedComments.html.twig" as macroThreadedComments %}

{% block title %}
    {{ article.title }}
{% endblock %}

{% block content %}
    <article>
        <h2>{{ article.title }}</h2>

        <h4>Ajouté le <time datetime="{{ article.date }}" pubdate="pubdate">{{ article.date|date("d/m/Y") }}</time></h4>
        {% if article.lastModif != "0000-00-00" %}
            <h4>Dernière modification le <time datetime="{{ article.lastModif }}">{{ article.lastModif|date("d/m/Y") }}</time></h4>
        {% endif %}

        <p>
            {{ article.content }}
        </p>
    </article>

    <section id="commentSection">
        <h3>Commentaires</h3>

        {% for parent in parents %}
            <div class="comment even-comment">
                <p>{{ parent.content }}</p>

                {% for child in children %}
                    {% if child.parentId == parent.id %}
                        {{ macroThreadedComments.print_comments_recursively(child, children, 1) }}
                    {% endif %}
                {% endfor %}
            </div>
        {% endfor %}

    </section>

    <section>
        <h3>Ajouter un commentaire</h3>

        {% for flashMessage in app.session.flashbag.get('success') %}
            <div class="alert alert-success">
                {{ flashMessage }}
            </div>
        {% endfor %}

        {% if commentForm %}
            {{ form_start(commentForm) }}
                <div class="form-group">
                    {{ form_errors(commentForm.content) }}
                    {{ form_widget(commentForm.content, { 'attr' : {
                            'rows' : '4',
                            'class' : 'form-control',
                            'placeholder' : 'Entrez votre commentaire'
                        }})
                    }}
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-primary" value="Publier le commentaire" />
                </div>
            {{ form_end(commentForm) }}
            {% else %}
                <p><a href="{{ path('login') }}" title="Page de connexion">Connectez-vous</a> pour ajouter un commentaire.</p>
            {% endif %}
    </section>
{% endblock %}
