{% extends "layout.html.twig" %}

{% block title %}
    {{ article.title }}
{% endblock %}

{% block content %}
    <article>
        <h2>{{ article.title }}</h2>

        <h4>Ajouté le <time datetime="{{ article.date }}" pubdate="pubdate">{{ article.date|date("d/m/Y") }}</time></h4>
        {% if article.lastModif != "0000-00-00" %}
            <h4>Dernière modification le <time datetime="{{ article.lastModif }}">{{ article.lastModif|date("d/m/Y") }}</time></h4>
        {% endif %}

        <p>
            {{ article.content }}
        </p>
    </article>

    <section>
        <h3>Commentaires</h3>

        {% for comment in comments %}
            <article>
                <strong>{{ comment.author.username }} :</strong> {{ comment.content }}
                <br />
                <em>
                    Publié le <time datetime="{{ comment.date }}" pubdate="pubdate">{{ comment.date|date("d/m/Y \à H\\hi") }}</time>
                    {% if comment.lastModif != "0000-00-00 00:00:00" %}
                        - dernière modification le <time datetime="{{ comment.lastModif }}" pubdate="pubdate">{{ comment.lastModif|date("d/m/Y \à H\\hi") }}</time>
                    {% endif %}
                </em>
            </article>

            {% else %}
                <p>Aucun commentaire n'a encore été publié sur cet article.</p>
        {% endfor %}
    </section>

    <section>
        <h3>Ajouter un commentaire</h3>

        {% for flashMessage in app.session.flashbag.get('success') %}
            <div class="alert alert-success">
                {{ flashMessage }}
            </div>
        {% endfor %}

        {% if commentForm %}
            {{ form_start(commentForm) }}
                <div class="form-group">
                    {{ form_errors(commentForm.content) }}
                    {{ form_widget(commentForm.content, { 'attr' : {
                            'rows' : '4',
                            'class' : 'form-control',
                            'placeholder' : 'Entrez votre commentaire'
                        }})
                    }}
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-primary" value="Publier le commentaire" />
                </div>
            {{ form_end(commentForm) }}
            {% else %}
                <p><a href="{{ path('login') }}" title="Page de connexion">Connectez-vous</a> pour ajouter un commentaire.</p>
            {% endif %}
    </section>
{% endblock %}
