{% extends "layout.html.twig" %}
{% import "_macroThreadedComments.html.twig" as macroThreadedComments %}
{% block cssSup %}<link href="{{ asset('/css/article.css') }}" rel="stylesheet" />{% endblock %}

{% block title %}
    {{ article.title }}
{% endblock %}

{% block content %}
    <div id="pageOpening">
        <article class="row">
            <header  id="articleTitle" class="col-xs-12">
                <h2>{{ article.title }}</h2>

                <hr />
            </header>

            <div id="articleContent" onerror=""class="col-xs-12">
                <p>{{ article.content }}</p>
            </div>

            <footer class="col-xs-12">
                <hr />
                <h5>
                    le <time datetime="{{ article.date }}" pubdate="pubdate">{{ article.date|date("d/m/Y") }}</time>
                    {% if article.lastModif != "0000-00-00" %}
                        - modifié le <time datetime="{{ article.lastModif }}">{{ article.lastModif|date("d/m/Y") }}</time>
                        {% endif %}
                </h5>
            </footer>
        </article>

        <section class="row">
            <h3 class="col-xs-12">Ajouter un commentaire
            <hr /></h3>

            {% for flashMessage in app.session.flashbag.get('success') %}
                <div class="alert alert-success">
                    {{ flashMessage }}
                </div>
            {% endfor %}

            <div class="col-xs-12">
                {% if commentForm %}
                    {{ form_start(commentForm) }}
                        <div class="form-group">
                            {{ form_errors(commentForm.content) }}
                            {{ form_widget(commentForm.content, { 'attr' : {
                                    'rows' : '4',
                                    'class' : 'form-control',
                                    'placeholder' : 'Entrez votre commentaire'
                                }})
                            }}
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btn btn-primary" value="Publier le commentaire" />
                        </div>
                    {{ form_end(commentForm) }}
                {% else %}
                    <p>
                        <a href="{{ path('register') }}" title="Page d'inscription'">Inscrivez-vous</a> ou <a href="{{ path('login') }}" title="Page de connexion">connectez-vous</a> pour ajouter un commentaire.
                    </p>
                {% endif %}
            </div>
        </section>

        <section id="commentSection" class="row">
            <h3>Commentaires</h3>
            <hr class="marginTopless" />

            {% for parent in parents %}
                <article class="comment even-comment row">
                    <header class="row">
                        <div class="col-xs-12 col-sm-5">
                            <h4>{{ parent.author.username}}</h4>
                        </div>
                        <div class="col-xs-12 col-sm-7">
                            <h4 class="pubDate">
                                <time datetime="{{ parent.date }}" pubdate="pubdate">{{ parent.date|date("d/m/Y \à H\\hi") }}</time>
                                {% if parent.lastModif != "0000-00-00 00:00:00" %}
                                     - modifié le <time datetime="{{ parent.lastModif }}" pubdate="pubdate">{{ parent.lastModif|date("d/m/Y \à H\\hi") }}</time>
                                {% endif %}
                            </h4>
                        </div>
                    </header>
                    <hr class="marginTopless" />

                    <div class="row">
                        <p>{{ parent.content }}</p>
                    </div>

                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <footer class="row" id="footer">
                            <hr class="marginTopless marginBottomless" />
                            <p class="pull-right">
                                {% if parent.id in flags|keys %}
                                    <button type="button" class="btn btn-warning disabled" title="Commentaire déjà signalé">
                                        Déjà signalé
                                    </button>
                                {% else %}
                                    <button type="button" class="btn btn-default" title="Signaler le commentaire" data-toggle="modal" data-target="#flagDialog{{ parent.id }}" id="flagButton{{ parent.id }}">
                                        Signaler
                                    </button>
                                {% endif %}
                                <button type="button" class="btn btn-primary" title="Répondre au commentaire">
                                    Répondre
                                </button>
                                <div class="modal fade" id="flagDialog{{ parent.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                                    &times;
                                                </button>
                                                <h4 class="modal-title" id="myModalLabel">
                                                    Confirmation
                                                </h4>
                                            </div>
                                            <div class="modal-body">
                                                <p>
                                                    Êtes-vous certain de vouloir signaler ce commentaire ?
                                                </p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">
                                                    Annuler
                                                </button>
                                                <a href="#" class="btn btn-info confirmFlagButton" id="{{ parent.id }}">
                                                    Confirmer
                                                </a>
                                            </div>
                                        </div><!-- /.modal-content -->
                                    </div><!-- /.modal-dialog -->
                                </div><!-- /.modal -->
                            </p>
                        </footer>
                    {% endif %}

                    {% for child in children %}
                        {% if child.parentId == parent.id %}
                            {{ macroThreadedComments.print_comments_recursively(child, children, 1, flags) }}
                        {% endif %}
                    {% endfor %}
                </article>
            {% else %}
                    <div class="row">
                        <p class="col-xs-12">Aucun commentaire n'a encore été publié sur cet article.</p>
                    </div>
            {% endfor %}

        </section>
    </div>
{% endblock %}

{% block jsSup %}<script src="{{ asset('/js/article.js') }}"></script>{% endblock %}
