{% extends "layout.html.twig" %}
{% set homeMenu = true %}

{% block cssSup %}
    <link href="{{ asset('/css/book.css') }}" rel="stylesheet" />
    <link href="{{ asset('/css/homepage.css') }}" rel="stylesheet" />
{% endblock %}

{% block title %}
    Accueil
{% endblock %}

{% block content %}
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}

    <div class="jumbotron">
        <div class="container">
            <h1>Billet simple pour l&rsquo;Alaska</h1>
            <h3>écrit par Jean Forteroche</h3>

            <div class="row">
                <p class="row">
                    Un blog, un roman, une histoire.
                </p>
                <p class="row">
                    <a href="{{ path('about') }}" title="A propos du projet et de l'auteur" class="btn btn-info btn-lg" role="button">
                        En savoir plus <span class="glyphicon glyphicon-hand-right"></span>
                    </a>
                </p>
            </div>
        </div>
    </div>

    <section id="last-chapters">
        <h2>Derniers chapitres parus</h2>
        <hr />

        <ul class="align">
            {% for article in articles %}
                <li>
                    <figure class='book'>
                        <!-- Front -->
                        <ul class='hardcover_front'>
                            <li>
                                <div class="coverDesign blue">
                                    {% if date(article.date) > date('-14days') %}
                                        <span class="ribbon">NOUVEAU</span>
                                    {% endif %}
                                    <h1>{{ article.title }}</h1>
                                    <p></p>
                                </div>
                            </li>
                            <li></li>
                        </ul>

                        <!-- Pages -->
                        <ul class='page'>
                            <li></li>
                            <li>
                                <a class="btn btn-book" href="{{ path('article', { 'id' : article.id }) }}" title="Aller à cet article">
                                    Lire le chapitre
                                </a>
                            </li>
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>

                        <!-- Back -->
                        <ul class='hardcover_back'>
                            <li></li>
                            <li></li>
                        </ul>
                        <ul class='book_spine'>
                            <li></li>
                            <li></li>
                        </ul>
                        <figcaption>
                            <a href="{{ path('article', { 'id' : article.id }) }}" title="Aller à cet article"><h1>{{ article.title }}</h1></a>

                            <span>Ajouté le <time datetime="{{ article.date }}" pubdate="pubdate">{{ article.date|date("d/m/Y") }}</time></span>
                            {% if article.lastModif != "0000-00-00" %}
                                <span>Dernière modification le <time datetime="{{ article.lastModif }}">{{ article.lastModif|date("d/m/Y") }}</time></span>
                            {% endif %}

                            <p>{{ article.content | striptags | truncate(150, true) | raw }}</p>
                        </figcaption>
                    </figure>
                </li>
            {% endfor %}
        </ul>
    </section>
{% endblock %}
