<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link href="style.css" rel="stylesheet" />
        <title>MicroCMS - Home</title>
    </head>
    <body>
        <header>
            <h1>MicroCMS</h1>
        </header>

        {% for article in articles %}
            <article>
                <h2>{{ article.title }}</h2>

                <h4>Ajouté le <time datetime="{{ article.date }}" pubdate="pubdate">{{ article.date|date("d/m/Y") }}</time></h4>
                {% if article.lastModif != "0000-00-00" %}
                    <h4>Dernière modification le <time datetime="{{ article.lastModif }}">{{ article.lastModif|date("d/m/Y") }}</time></h4>
                {% endif %}

                <p>
                    {{ article.content }}
                </p>
            </article>
        {% endfor %}

        <footer class="footer">
            <a href="https://github.com/fhuszti/micro-cms">MicroCMS</a> is a minimalistic CMS built as a showcase for modern PHP development.
        </footer>
    </body>
</html>
