{% extends "layout.html.twig" %}

{% block title %}
    Accueil
{% endblock %}

{% block content %}
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}

    {% for article in articles %}
        <article>
            <h2><a href="{{ path('article', { 'id' : article.id }) }}">{{ article.title }}</a></h2>

            <h4>Ajouté le <time datetime="{{ article.date }}" pubdate="pubdate">{{ article.date|date("d/m/Y") }}</time></h4>
            {% if article.lastModif != "0000-00-00" %}
                <h4>Dernière modification le <time datetime="{{ article.lastModif }}">{{ article.lastModif|date("d/m/Y") }}</time></h4>
            {% endif %}

            <p>
                {{ article.content }}
            </p>
        </article>
    {% endfor %}
{% endblock %}
