{% extends "layout.html.twig" %}
{% set chaptersMenu = true %}

{% block cssSup %}
    <link href="{{ asset('/css/book.css') }}" rel="stylesheet" />
{% endblock %}

{% block title %}
    Chapitres
{% endblock %}

{% block content %}
    <section id="pageOpening">
        <h2>Chapitres déjà parus</h2>
        <hr />

        <ul class="align">
            {% for article in articles %}
                <li>
                    <figure class='book'>
                        <!-- Front -->
                        <ul class='hardcover_front'>
                            <li>
                                <div class="coverDesign blue">
                                    {% if date(article.date) > date('-14days') %}
                                        <span class="ribbon">NOUVEAU</span>
                                    {% endif %}

                                    <h1>{{ article.title }}</h1>
                                </div>
                            </li>
                            <li></li>
                        </ul>

                        <!-- Pages -->
                        <ul class='page'>
                            <li></li>
                            <li>
                                <a class="btn btn-book" href="{{ path('article', { 'id' : article.id }) }}" title="Aller à cet article">
                                    Lire le chapitre
                                </a>
                            </li>
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>

                        <!-- Back -->
                        <ul class='hardcover_back'>
                            <li></li>
                            <li></li>
                        </ul>
                        <ul class='book_spine'>
                            <li></li>
                            <li></li>
                        </ul>
                        <figcaption>
                            <a href="{{ path('article', { 'id' : article.id }) }}" title="Aller à cet article"><h1>{{ article.title }}</h1></a>

                            <span>Ajouté le <time datetime="{{ article.date }}" pubdate="pubdate">{{ article.date|date("d/m/Y") }}</time></span>
                            {% if article.lastModif != "0000-00-00" %}
                                <span>Dernière modification le <time datetime="{{ article.lastModif }}">{{ article.lastModif|date("d/m/Y") }}</time></span>
                            {% endif %}

                            <p>{{ article.content | striptags | truncate(150, true) | raw }}</p>
                        </figcaption>
                    </figure>
                </li>
            {% else %}
                <li>Aucun chapitre publié pour le moment.</li>
            {% endfor %}
        </ul>
    </section>
{% endblock %}
