{% macro admin_users_tab(users) %}
    {% if users %}
        <div class="table-responsive">
            <table class="table table-hover table-condensed">
                <thead>
                    <tr>
                        <th>Pseudo</th>
                        <th>Rang</th>
                        <th>Email</th>
                        <th>&Eacute;tat</th>
                        <th></th>  <!-- Actions column -->
                    </tr>
                </thead>
                {% for user in users %}
                    <tr>
                        <td>
                            {{ user.username }}
                        </td>
                        <td>
                            {% if user.role == 'ROLE_ADMIN' %}
                                Admin
                            {% else %}
                                Membre
                            {% endif %}
                        </td>
                        <td>
                            {{ user.email }}
                        </td>
                        <td>
                            {% if user.isActive %}
                                Actif
                            {% else %}
                                Interdit
                            {% endif %}
                        </td>
                        <td>
                            <a href="{{ path('admin_user_edit', { 'id': user.id }) }}" class="btn btn-info btn-xs" title="Modifier">
                                <span class="glyphicon glyphicon-edit"></span>
                            </a>

                            {% if user.isActive %}
                                <button type="button" class="btn btn-warning btn-xs" title="Bannir" data-toggle="modal" data-target="#userBanDialog{{ user.id }}">
                                    <span class="glyphicon glyphicon-ban-circle"></span>
                                </button>
                                <div class="modal fade" id="userBanDialog{{ user.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                                    &times;
                                                </button>
                                                <h4 class="modal-title" id="myModalLabel">
                                                    Confirmation
                                                </h4>
                                            </div>
                                            <div class="modal-body">
                                                <p>
                                                    Êtes-vous certain de vouloir bannir ce membre ?
                                                </p>
                                                <p>
                                                    Plus personne ne pourra se connecter sur ce compte.
                                                </p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">
                                                    Annuler
                                                </button>
                                                <a href="{{ path('admin_user_ban', { 'id': user.id }) }}" class="btn btn-danger">
                                                    Confirmer
                                                </a>
                                            </div>
                                        </div><!-- /.modal-content -->
                                    </div><!-- /.modal-dialog -->
                                </div><!-- /.modal -->
                            {% else %}
                                <button type="button" class="btn btn-success btn-xs" title="Annuler un ban" data-toggle="modal" data-target="#userUnbanDialog{{ user.id }}">
                                    <span class="glyphicon glyphicon-ok-circle"></span>
                                </button>
                                <div class="modal fade" id="userUnbanDialog{{ user.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                                    &times;
                                                </button>
                                                <h4 class="modal-title" id="myModalLabel">
                                                    Confirmation
                                                </h4>
                                            </div>
                                            <div class="modal-body">
                                                <p>
                                                    Êtes-vous certain de vouloir annuler le ban de ce membre ?
                                                </p>
                                                <p>
                                                    Il sera à nouveau possible de se connecter sur ce compte.
                                                </p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">
                                                    Annuler
                                                </button>
                                                <a href="{{ path('admin_user_unban', { 'id': user.id }) }}" class="btn btn-danger">
                                                    Confirmer
                                                </a>
                                            </div>
                                        </div><!-- /.modal-content -->
                                    </div><!-- /.modal-dialog -->
                                </div><!-- /.modal -->
                            {% endif %}

                            <button type="button" class="btn btn-danger btn-xs" title="Supprimer" data-toggle="modal" data-target="#userDialog{{ user.id }}">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                            <div class="modal fade" id="userDialog{{ user.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                                &times;
                                            </button>
                                            <h4 class="modal-title" id="myModalLabel">
                                                Confirmation
                                            </h4>
                                        </div>
                                        <div class="modal-body">
                                            <p>
                                                Êtes-vous certain de vouloir supprimer ce membre ?
                                            </p>
                                            <p>
                                                Tous ses commentaires seront également supprimés.
                                            </p>
                                            <p>
                                                Cette action est irréversible.
                                            </p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                                Annuler
                                            </button>
                                            <a href="{{ path('admin_user_delete', { 'id': user.id }) }}" class="btn btn-danger">
                                                Confirmer
                                            </a>
                                        </div>
                                    </div><!-- /.modal-content -->
                                </div><!-- /.modal-dialog -->
                            </div><!-- /.modal -->
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% else %}
        <div class="alert alert-warning">
            Aucun membre trouvé.
        </div>
    {% endif %}

    <a href="{{ path('admin_user_add') }}">
        <button type="button" class="btn btn-primary">
            <span class="glyphicon glyphicon-plus"></span> Ajouter un membre
        </button>
    </a>
{% endmacro %}
